@import 'src/styles/variables';

.PersonsList {
  padding: $spacing-unit-2;

  .Hover:hover , .activeItem {
    background-color: #1890ff;
    cursor: pointer;

    .HoverText {
      color: white;
    }
  }

}
